name: CI Syntax Tests

on:
  push:
    push:
      - '**'
    paths:
      - '.github/workflows/continuous-integration.yml'
      - '**.sublime-syntax'
      - '**/syntax_test_*'
      - '**.tmPreferences'
  pull_request:
    branches:
      - '**'
    paths:
      - '.github/workflows/continuous-integration.yml'
      - '**.sublime-syntax'
      - '**/syntax_test_*'
      - '**.tmPreferences'
  workflow_dispatch:

jobs:
  syntax_tests:
      name: Syntax Tests (${{ matrix.build }})
      runs-on: ubuntu-latest
      timeout-minutes: 15 # default is 6 hours!
      strategy:
        matrix:
          include:
            - build: 4170
              packages: v4170
      steps:
        - uses: actions/checkout@v3
        - uses: SublimeText/syntax-test-action@v2
          with:
            build: ${{ matrix.build }}
            default_packages: ${{ matrix.packages }}
